/*tutorials 17 - 19*/
#mummy{
	border:2px solid blue;
	display:-webkit-box;
	-webkit-box-orient:horizontal;
	/*adding -webkit-box-direction:reverse; reverses the order of the boxes */
	width: 700px; /*Giving the parent a set width will enable 
	               the children to change positions*/
	/*-webkit-box-pack:center; This would put the 
	children in the center position. Changing it to 
	end would position the children on the left  */
	height:300px; 
	-webkit-box-align: center; 
	/*The webkit-box-align will vertically align everything my box
	other values are; start, end, center, baseline and stretch. 
	Stretch is default and will apply to all children if they are not given a height*/
}
#kid1{
	border: 2px solid red;
	background: green;
	padding:20px;
	margin:10px;
	/*-webkit-box-ordinal-group: 3; this code will 
	position the child in order of it's number*/
	/*width: 60px;removing the width and adding 
	the webkit flex will make the child more flexible*/
	-webkit-box-flex:1;
	height:100px;
}
#kid2{
	border: 2px solid red;
	background: yellow;
	padding:20px;
	margin:10px;
	/*-webkit-box-ordinal-group: 1; this code will 
	position the child in order of it's number*/
	/*width: 60px;removing the width and adding 
	the webkit flex will make the child more flexible*/
	-webkit-box-flex:1; /*This will make this child flexible, 
	                    so no matter how many children are added,
						taken away or moved this child, kid2 will 
						expand or decrease accordingly*/	
	height:100px;
}
#kid3{
	border: 2px solid red;
	background: red;
	padding:20px;
	margin:10px;
	/*-webkit-box-ordinal-group: 4; this code will 
	position the child in order of it's number*/
	/*width: 60px;removing the width and adding 
	the webkit flex will make the child more flexible*/
	-webkit-box-flex:1;
	height:100px;
}
#kid4{
	border: 2px solid red;
	background: orange;
	padding:20px;
	margin:10px;
	/*-webkit-box-ordinal-group: 2; this code will 
	position the child in order of it's number*/
	/*width: 60px;removing the width and adding 
	the webkit flex will make the child more flexible*/
	-webkit-box-flex:1;
	height:100px;
}


